*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container .logo{
    width: 100%;
    height: auto;
    background-color: black;
   padding: 15px 0 15px 50px;
}
.container .logo img{
    width: 80px ;
    height: 80px;
    border-radius: 50%;
}
.container .navbar{
    width: 100%;
    height: auto;
    background-color: red;
}
.container .navbar .menu-area{
    width: 100%;
    height: auto;
    display: flex;
    list-style-type: none;
}
.container .navbar .menu-area .menu-link{
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    padding: 10px 30px;
    display: block;
}
.container .navbar .menu-area .menu-link i{
    margin-right: 10px;
}

.hero-section{
    background-color: #fff;
}
.hero-section .container{
    width: 1200px;
    height: auto;
    margin: 10px auto;
    background-color: #fff;
    padding: 0;
}
.hero-section .container .row{
    display: flex;
    width: 100%;
    height: auto;
    padding: 0;
    gap: 10px;
}
.hero-section .container .row .col-9{
    width: calc((100% * 9) / 12 - 5px);
    padding: 0;
}
.hero-section .container .row .col-9 .card{
    width: 100%;
    height: auto;
    display: flex;
}
.hero-section .container .row .col-9 .card .image-left{
    width: 60%;
    height: auto;
}
.hero-section .container .row .image-left img{
    width: 100%;
    height: 300px;
    position: relative;
}
.hero-section .container .row .col-9 .card .desc-left{
    position: absolute;
}

.hero-section .container .row .col-9 .card .image-right{
    width: 40%;
    height: auto;
}
.hero-section .container .row .image-right img{
    width: 100%;
    height: 300px;
}




.hero-section .container .row .col-3{
    width: calc((100% *3) /12);
    height: 300px;
}
.hero-section .container .row .col-3 .card{
    width: 100%;
    height: 100%;
    background-color: #ddd;
    margin-bottom: 4px;
}


.container .empty{
    width: 100%;
    height: 500px;
    background-color: #ddd;
    border-top: 2px solid blue;
}
.container h4{
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(189, 189, 247);
    border-radius: 3px;
}